/* Always set the map height explicitly to define the size of the div
   * element that contains the map. */

#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#pano {
  width: 75%;
  height: 100%;
  float:left;
  display: inline-block;
}
#map {
  width: 25%;
  height: 100%;
  float:left;
  display: inline-block;
}

#controlpanel {
  position: absolute;
  left:35%;
  margin-left: -25px;
  top:80%;
  overflow: hidden;
  z-index: 2;
}
#back {
  width: 10%;
  opacity: 0.5;
  z-index: 2;
}

@keyframes rainbow {
  0%  {color: blue;}
  15% {color: green;}
  30% {color: yellow;}
  45% {color: orange;}
  60% {color: red;}
  75% {color: pink;}
  100% {color: purple;}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.icon-old{
  position: fixed;
  z-index: 1;
  opacity: 0.8;
  cursor: pointer;
  color: #fff;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.82);
  margin-top: 25px;
  margin-left: 5px;
}
.icon{
  position: fixed;
  z-index: 1;
  opacity: 0.8;
  cursor: pointer;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.82);
  margin-top: 25px;
  margin-left: 5px;
}


.icon:not(:focus):not(:active):hover{
  animation: rainbow 1s, shake 1s;
  animation-iteration-count: infinite;
}
.icon:active,
.icon:focus{
  animation-play-state: paused;
  color: black;
  text-shadow: -3px -8px 9px #f78aa0;

}
#step-forward{
  left: 45%;
  top: 80%;
}
#step-backward{
  left:35%;
  top: 80%;
}
#play,
#pause{
  left: 40%;
  top: 80%;
}


#step-forward-corner{
  left: 15%;
  top: 0%;
}
#step-backward-corner{
  left:11%;
  top: 0%;
}
#play-corner,
#pause-corner{
  left: 13%;
  top: 0%;
}

#forward{
  width: 10%;
  opacity: 0.5;
  z-index: 2;
}

div#dynamicCover,
div#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.59);
    z-index: 3;
    cursor: pointer;
    transition: all 0.5s linear;
}

#bigplay,
#bigpause,
#dynamicbigplay {
    position: fixed;
    left: calc(50% - 39px);
    top: calc(50% - 101px);
    z-index: 1;
    opacity: 0.8;
    color: #fff;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
    font-size: 10em;
}

.hide {
     display: none !important;
}
.visualhide{
  opacity: 0 !important;
}

div#band {
    height: 5px;
    top: 0px;
    width: 100%;
    z-index: 2;
    background-color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.82);
    display: block;
}

div#hodor {
    width: 100%;
    height: calc(100% - 5px);
    display: block;
    position: fixed;
}

#back-to-index{
  top: 90%;
  left: 2%;
  z-index: 6;
}
